/* CSS Variables */
:root {
    --primary-color: #c41509;
    --secondary-color: #fff;
    --backgroud-color: lightgrey;
    --black: #000;
    --modal-close-color: rgb(22, 129, 102);
}

/* adds container to the whole web page */
.container {
    margin:auto;
    width: 100%;
    max-width: 1200px;
    background-color: var(--secondary-color);
    border: var(--black) solid 4px;
    border-radius: 25px;
}

/* styles the whole webpage throught the body tag */
body {
    margin: 10%;
    margin-top: 2%;
    padding: 25px;
    background-color: var(--backgroud-color);
    font-family:'Domine', sans-serif;
    font-weight: 500;
    font-size: 16px;
    justify-items: center;
}

/* header style */
h1 {
    color: var(--primary-color);
    text-align: center;
}

/* button styles */
.button {
    position: relative;
    font-family: inherit;
    color: var(--secondary-color);
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 63px;
    font-size: 20px;
    background: var(--primary-color);
    border: 2px solid var(--black);
    border-radius: 2%;
    padding: 15px;
    margin: 2px;
}

.button:hover {
    color: var(--primary-color);
    border: var(--primary-color) solid 5px;
    background: var(--secondary-color);
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 4;
    flex-shrink: 0;
    list-style-type: none;
    padding: 25px;
}


#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}
  
.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: var(--secondary-color);
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
}
  
.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: var(--modal-close-color);
    text-decoration: underline;
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}
  
.modal h1 {
    margin-top: 0;
}
  
.modal p {
    margin-bottom: 0;
}
  
#modal-container {
    display: none;
}
  
#modal-container.is-visible {
    /* CSS for modal container - add your own desired CSS styles here */
    display: block;
}
  
/* Loading animation styling */
#loading-container {
    display: none;
}
  
#loading-container.is-visible {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  
    /* to show it above other content */
    z-index: 999;
  
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;
  
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}
  
  

/* Spinner element that rotates when loading */
.spinner {
    margin: auto;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 5px solid var(--primary-color);
    border-top: 6px solid var(--black);
    border-radius: 100%;
    animation: spin 1s infinite linear;
}
  
/* animation for spinner element */
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}